In [61]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [62]:
url='https://en.wikipedia.org/wiki/List_of_cities_in_Pakistan_by_population'

In [63]:
city_page=requests.get(url).text

In [65]:
soup=BeautifulSoup(city_page, 'lxml')

In [68]:
soup.title.text

'List of cities in Pakistan by population - Wikipedia'

In [69]:
city_page_table=soup.find("table", attrs={"class", "sortable wikitable"})

In [71]:
city_table_tr=city_page_table.find_all('tr')

In [102]:
city_table_td=city_table_tr[2].find_all('td')

In [103]:
city_table_td[1].text

'Lahore'

In [91]:
pakistani_cities_dataframe=pd.DataFrame()

In [92]:
pakistani_cities_dataframe

Empty DataFrame
Columns: []
Index: []

In [96]:
for i in range(1,len(city_table_tr)):
    city_table_td=city_table_tr[i].find_all('td')
    
    city_name=city_table_td[1].get_text().strip()
    population_2017=city_table_td[2].get_text().strip()
    population_1998=city_table_td[3].get_text().strip()
    change_in_population=city_table_td[4].get_text().strip()
    province=city_table_td[5].get_text().strip()
    
    pakistani_cities_dataframe=pakistani_cities_dataframe.append({'City Name ': city_name,
                                                                 'Population-2017':population_2017,
                                                                 'Population-1998':population_1998,
                                                                 'change-in-population':change_in_population,
                                                                 'province':province}, ignore_index=True)

In [97]:
pakistani_cities_dataframe

,City Name,Population-1998,Population-2017,change-in-population,province
0,Karachi,"9,339,023","14,916,456",+59.72%,Sindh
1,Lahore,"5,209,088","11,126,285",+113.59%,Punjab
2,Faisalabad,"2,008,861","3,204,726",+59.53%,Punjab
3,Rawalpindi,"1,409,768","2,098,231",+48.84%,Punjab
4,Gujranwala,"1,132,509","2,027,001",+78.98%,Punjab
...,...,...,...,...,...
193,Tando Muhammad Khan,"65,396","101,863",+55.76%,Sindh
194,Kamber Ali Khan,"58,369","101,474",+73.85%,Sindh
195,Mirpur Mathelo,"42,421","100,760",+137.52%,Sindh
196,Kandhkot,"67,566","100,698",+49.04%,Sindh
197,Bhalwal,"61,523","100,135",+62.76%,Punjab

In [98]:
pakistani_cities_dataframe.to_csv('Pakistani Cities.csv')